Faker==8.10.1
opencv-python==4.5.1.48
numpy==1.20.2
paho-mqtt==1.5.1
pyecharts==1.9.0
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
PyQt5==5.15.4
pyqt5-plugins==5.15.2.2.1.0
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
pyqt5-tools==5.15.2.3.0.2
pyqtgraph==0.12.1
PyQtWebEngine==5.15.4
PyQtWebEngine-Qt5==5.15.2
python-dateutil==2.8.2
python-dotenv==0.17.1
pywin32==301
pywin32-ctypes==0.2.0
QCandyUi==0.14
qt-material==2.8.8
qt5-applications==5.15.2.2.1
qt5-tools==5.15.2.1.0.1
requests==2.25.1
